* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
 
*,
*:before,
*:after {
	box-sizing: border-box;
}
 
:focus,
:active {
	outline: none;
}
 
a:focus,
a:active {
	outline: none;
}
 
html,
body {
	height: 100%;
	min-width: 320px;
}
 
body {
	background-color: #f3f3e6;
	color: #000;
	line-height: 1;
	font-family: "Work Sans";
	font-size: 14px;
}
 
input,
button,
textarea {
	font-family: "Work Sans";
	font-size: inherit;
}
 
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
 
a {
	color: inherit;
}
 
a:link,
a:visited {
	text-decoration: none;
}
 
a:hover {
	text-decoration: none;
}
 
ul li {
	list-style: none;
}
 
img {
	vertical-align: top;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 800px;
	width: 100%;
	margin: 0px auto;
	color: #000;
}
@media (max-width: 812px) {
	.container {
	  max-width: 970px;
	}
}
@media (max-width: 992.98px) {
	.container {
	  max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
	  max-width: none;
	  padding: 0 10px;
	}
}
.accordion {
	padding: 150px 0px 0px 0px;
}
 .accordion__title {
	font-size: 35px;
	font-weight: 700;
}

.accordion-list {
	padding: 20px 0px 0px 0px;
	color: #043fd0;
	font-weight: 700;
}
.accordion-list:hover {
	color: #000;
}
 .accordion-list:hover .accordion-list-item {
	background: url("../assets/svg/plus.svg") right 10px/32px 32px no-repeat;
}
 
.accordion-list-item:hover {
	cursor: pointer;
	background: url("../assets/svg/cross.svg") right 10px/32px 32px no-repeat;
}
 .accordion-list-item:focus {
	color: #000;
}
.accordion-list-item:hover .accordion-list-item__content, .accordion-list-item:focus .accordion-list-item__content {
	width: 300px;
	height: auto;
	margin: 0px auto 20px auto;
}
 .accordion-list-item:hover .accordion-list-item__content img, .accordion-list-item:focus .accordion-list-item__content img {
	width: 300px;
	height: 300px;
}
.accordion-list-item__divider {
	width: 100%;
	height: 1px;
	background-color: gray;
}
 .accordion-list-item__title {
	padding: 15px 0px;
	font-size: 20px;
}
 .accordion-list-item__content {
	width: 0;
	height: 0;
}
 .accordion-list-item__content img {
	width: 0px;
	height: 0px;
}